body {
   background-image:url(https://images-na.ssl-images-amazon.com/images/I/A1q2cAMg41L._SL1500_.jpg);
}
img{
    border: 3px rgb(0, 26, 255) dotted;
}
h1{
    margin: 15px 0;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4dd300;
 }
h3 {
    font-size: 13px;
    margin: 0;
    color: #0a0a0a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    letter-spacing: 1.4px;
    text-align: center;
 }
 p {
    font-family: 'Didact Gothic', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
 }
 b{
    font-family: 'Didact Gothic', sans-serif;
    color: #ff0000;
    font-size: 14px;
    line-height: 22px;
 }
 a{
    font-size: 13px;
    margin: 0;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 1.4px;
    text-align: center;
 }
 table {
    padding: 20px;
    width: 500px;	height: 78px; 
    background: rgb(18, 85, 124); 
    outline: 2px solid #699eff; 
    border: 3px solid #034909; 
    border-radius: 10px; 
   }
   nav a[href ="https://мвд.рф/"]{
    color: rgb(255, 0, 0);
   }